.banter-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 216px;
  height: 216px;
  margin-left: -108px;
  margin-top: -108px;
}

.banter-loader__box {
  float: left;
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 18px;
}

.banter-loader__box svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--color-primary);
  transition: opacity 0.15s ease-out, filter 0.15s ease-out;
}

/* Color oscillation animation - all icons oscillate between light and dark blue */
@keyframes colorPulse {
  0%, 100% {
    color: var(--color-primary);
    stroke: var(--color-primary);
  }
  50% {
    color: var(--color-primary-shadow);
    stroke: var(--color-primary-shadow);
  }
}

/* Each icon has a different animation speed - increasing from 1 to 9 */
.banter-loader__box:nth-child(1) svg {
  animation: colorPulse 2s ease-in-out infinite;
}

.banter-loader__box:nth-child(2) svg {
  animation: colorPulse 1.75s ease-in-out infinite;
}

.banter-loader__box:nth-child(3) svg {
  animation: colorPulse 1.5s ease-in-out infinite;
}

.banter-loader__box:nth-child(4) svg {
  animation: colorPulse 1.25s ease-in-out infinite;
}

.banter-loader__box:nth-child(5) svg {
  animation: colorPulse 1s ease-in-out infinite;
}

.banter-loader__box:nth-child(6) svg {
  animation: colorPulse 0.85s ease-in-out infinite;
}

.banter-loader__box:nth-child(7) svg {
  animation: colorPulse 0.7s ease-in-out infinite;
}

.banter-loader__box:nth-child(8) svg {
  animation: colorPulse 0.55s ease-in-out infinite;
}

.banter-loader__box:nth-child(9) svg {
  animation: colorPulse 0.4s ease-in-out infinite;
}

.banter-loader__box:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 18px;
}

.banter-loader__box:nth-child(1) svg,
.banter-loader__box:nth-child(4) svg {
  margin-left: 78px;
}

.banter-loader__box:nth-child(3) svg {
  margin-top: 156px;
}

.banter-loader__box:last-child {
  margin-bottom: 0;
}

@keyframes moveBox-1 {
  9.0909090909% {
    transform: translate(-78px, 0);
  }
  18.1818181818% {
    transform: translate(0px, 0);
  }
  27.2727272727% {
    transform: translate(0px, 0);
  }
  36.3636363636% {
    transform: translate(78px, 0);
  }
  45.4545454545% {
    transform: translate(78px, 78px);
  }
  54.5454545455% {
    transform: translate(78px, 78px);
  }
  63.6363636364% {
    transform: translate(78px, 78px);
  }
  72.7272727273% {
    transform: translate(78px, 0px);
  }
  81.8181818182% {
    transform: translate(0px, 0px);
  }
  90.9090909091% {
    transform: translate(-78px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(1) {
  animation: moveBox-1 4s infinite;
}

@keyframes moveBox-2 {
  9.0909090909% {
    transform: translate(0, 0);
  }
  18.1818181818% {
    transform: translate(78px, 0);
  }
  27.2727272727% {
    transform: translate(0px, 0);
  }
  36.3636363636% {
    transform: translate(78px, 0);
  }
  45.4545454545% {
    transform: translate(78px, 78px);
  }
  54.5454545455% {
    transform: translate(78px, 78px);
  }
  63.6363636364% {
    transform: translate(78px, 78px);
  }
  72.7272727273% {
    transform: translate(78px, 78px);
  }
  81.8181818182% {
    transform: translate(0px, 78px);
  }
  90.9090909091% {
    transform: translate(0px, 78px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(2) {
  animation: moveBox-2 4s infinite;
}

@keyframes moveBox-3 {
  9.0909090909% {
    transform: translate(-78px, 0);
  }
  18.1818181818% {
    transform: translate(-78px, 0);
  }
  27.2727272727% {
    transform: translate(0px, 0);
  }
  36.3636363636% {
    transform: translate(-78px, 0);
  }
  45.4545454545% {
    transform: translate(-78px, 0);
  }
  54.5454545455% {
    transform: translate(-78px, 0);
  }
  63.6363636364% {
    transform: translate(-78px, 0);
  }
  72.7272727273% {
    transform: translate(-78px, 0);
  }
  81.8181818182% {
    transform: translate(-78px, -78px);
  }
  90.9090909091% {
    transform: translate(0px, -78px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(3) {
  animation: moveBox-3 4s infinite;
}

@keyframes moveBox-4 {
  9.0909090909% {
    transform: translate(-78px, 0);
  }
  18.1818181818% {
    transform: translate(-78px, 0);
  }
  27.2727272727% {
    transform: translate(-78px, -78px);
  }
  36.3636363636% {
    transform: translate(0px, -78px);
  }
  45.4545454545% {
    transform: translate(0px, 0px);
  }
  54.5454545455% {
    transform: translate(0px, -78px);
  }
  63.6363636364% {
    transform: translate(0px, -78px);
  }
  72.7272727273% {
    transform: translate(0px, -78px);
  }
  81.8181818182% {
    transform: translate(-78px, -78px);
  }
  90.9090909091% {
    transform: translate(-78px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(4) {
  animation: moveBox-4 4s infinite;
}

@keyframes moveBox-5 {
  9.0909090909% {
    transform: translate(0, 0);
  }
  18.1818181818% {
    transform: translate(0, 0);
  }
  27.2727272727% {
    transform: translate(0, 0);
  }
  36.3636363636% {
    transform: translate(78px, 0);
  }
  45.4545454545% {
    transform: translate(78px, 0);
  }
  54.5454545455% {
    transform: translate(78px, 0);
  }
  63.6363636364% {
    transform: translate(78px, 0);
  }
  72.7272727273% {
    transform: translate(78px, 0);
  }
  81.8181818182% {
    transform: translate(78px, -78px);
  }
  90.9090909091% {
    transform: translate(0px, -78px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(5) {
  animation: moveBox-5 4s infinite;
}

@keyframes moveBox-6 {
  9.0909090909% {
    transform: translate(0, 0);
  }
  18.1818181818% {
    transform: translate(-78px, 0);
  }
  27.2727272727% {
    transform: translate(-78px, 0);
  }
  36.3636363636% {
    transform: translate(0px, 0);
  }
  45.4545454545% {
    transform: translate(0px, 0);
  }
  54.5454545455% {
    transform: translate(0px, 0);
  }
  63.6363636364% {
    transform: translate(0px, 0);
  }
  72.7272727273% {
    transform: translate(0px, 78px);
  }
  81.8181818182% {
    transform: translate(-78px, 78px);
  }
  90.9090909091% {
    transform: translate(-78px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(6) {
  animation: moveBox-6 4s infinite;
}

@keyframes moveBox-7 {
  9.0909090909% {
    transform: translate(78px, 0);
  }
  18.1818181818% {
    transform: translate(78px, 0);
  }
  27.2727272727% {
    transform: translate(78px, 0);
  }
  36.3636363636% {
    transform: translate(0px, 0);
  }
  45.4545454545% {
    transform: translate(0px, -78px);
  }
  54.5454545455% {
    transform: translate(78px, -78px);
  }
  63.6363636364% {
    transform: translate(0px, -78px);
  }
  72.7272727273% {
    transform: translate(0px, -78px);
  }
  81.8181818182% {
    transform: translate(0px, 0px);
  }
  90.9090909091% {
    transform: translate(78px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(7) {
  animation: moveBox-7 4s infinite;
}

@keyframes moveBox-8 {
  9.0909090909% {
    transform: translate(0, 0);
  }
  18.1818181818% {
    transform: translate(-78px, 0);
  }
  27.2727272727% {
    transform: translate(-78px, -78px);
  }
  36.3636363636% {
    transform: translate(0px, -78px);
  }
  45.4545454545% {
    transform: translate(0px, -78px);
  }
  54.5454545455% {
    transform: translate(0px, -78px);
  }
  63.6363636364% {
    transform: translate(0px, -78px);
  }
  72.7272727273% {
    transform: translate(0px, -78px);
  }
  81.8181818182% {
    transform: translate(78px, -78px);
  }
  90.9090909091% {
    transform: translate(78px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(8) {
  animation: moveBox-8 4s infinite;
}

@keyframes moveBox-9 {
  9.0909090909% {
    transform: translate(-78px, 0);
  }
  18.1818181818% {
    transform: translate(-78px, 0);
  }
  27.2727272727% {
    transform: translate(0px, 0);
  }
  36.3636363636% {
    transform: translate(-78px, 0);
  }
  45.4545454545% {
    transform: translate(0px, 0);
  }
  54.5454545455% {
    transform: translate(0px, 0);
  }
  63.6363636364% {
    transform: translate(-78px, 0);
  }
  72.7272727273% {
    transform: translate(-78px, 0);
  }
  81.8181818182% {
    transform: translate(-156px, 0);
  }
  90.9090909091% {
    transform: translate(-78px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}

.banter-loader__box:nth-child(9) {
  animation: moveBox-9 4s infinite;
}
