/* ========================================
   Shooting Star Animations
   ======================================== */
.shooting-stars-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
  transform: rotateZ(45deg);
}

.shooting-star {
  --shooting-time: 1500ms;
  position: absolute;
  height: 2px;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.5), transparent);
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
  animation:
    shooting-tail var(--shooting-time) ease-in-out infinite,
    shooting-move var(--shooting-time) ease-in-out infinite;
  animation-delay: var(--shooting-delay, 0ms);
}

.shooting-star::before,
.shooting-star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  border-radius: 100%;
  animation: shooting-shining var(--shooting-time) ease-in-out infinite;
  animation-delay: var(--shooting-delay, 0ms);
}

.shooting-star::before {
  transform: translateX(50%) rotateZ(45deg);
}

.shooting-star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

@keyframes shooting-tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting-shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
